.home{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;

}

.top label
{
    font-weight: bold;
    font-size: 25px;
    justify-self: center;
    align-self: center;
    color: white;

}
.top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:  darkgreen;
    flex-wrap: wrap;
}
.home1{
    display:flex;    
    background-color: white;
    margin-top: 30px;
}
.home1 div{
    height: 100vh;
    width: 100%;
    display: flex;
}
.home11{
    flex: .25 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.home11 label{
    color: darkgreen;
    cursor: pointer;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;
    
}
.home11 label:first-child{
    background-color: darkgreen;
    color: white;
}
.home12
{
    flex: 1 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
}
.home13
{
    overflow-y: scroll;
    flex: .25 ;
    flex-direction: column;

}

.userinfo{
    display: flex;
    flex-direction: column;
    color: darkgreen;
    flex-wrap: wrap;
    border: darkgreen solid ;
    border-width: 1px 0px 1px 0px;
    justify-content: center;
    align-items: start;
    
}
.userinfo button{
    background-color: lightgreen;
    color: darkgreen;
    cursor: pointer;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 20px;
}
.userinfo i, .userinfo button, .userinfo span{
    font-weight: bold;
    font-size: 25px;
}
.home13 span ,.home11,.home13{
    word-wrap: break-word;
    word-break: break-word;
}


#youmayknow{
    font-size: 25px;
    
}
.part2,.part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: scroll;
}
.part2 i, .part2 button, .part2 label, .part2 input,
.part3 i, .part3 button, .part3 label, .part3 input,.part3 select{
    color: darkgreen;
    margin: 30px;
}
.part2 i,.part3 i{
    font-size: 60px;
}
.part2 label,.part3 label{
    font-size: 25px;
    font-weight: bolder;
}
.part2 input,.part3 input,.part3 select{
    font-size: 25px;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 20px;
}
.part2 button,.part3 button{
    background-color: lightgreen;
    color: darkgreen;
    cursor: pointer;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 20px;
    align-self: center;
    font-size: 20px;
}

.part3 select option{
    font-Weight:bold;
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100vh;
}
.part1 label{
    font-weight: bold;
    font-size: 25px;
}
#connect_msg {
}
#profile_name{
    background-color: lightgreen;
    color: darkgreen;
    width: 100%;
    text-align: center;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 30px;
    bottom:0;
    position: fixed;
    width: 100%;
    cursor: pointer;
}
