body{
    margin: 0;
    scroll-behavior: smooth;
  }
  .Profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:lightgreen; 
    width: auto;
    height: 100vh;
  
  }
  #bg{
    width: 150px;
  }
  .Profile label{
    align-self: center;
    justify-self: center;
    font-weight: bold;
    color: green;
    font-size: 20px;
    margin: 10px;
  }
  .Profile input{
    align-items: center;
    margin: 10px;
    justify-self: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
  }
  
  .Profile button{
    margin: 10px;
    background-color: white;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
  
  }
  .Profile button:hover{
    background-color: green;
    color: white;
  }
  